[run]
include = 
    layouts/*
omit = 
    next/*
    .venv/*
    __pycache__/*
    *.pyc
    tests.py
    htmlcov/*
    ../next/*
    ../../next/*
    ../../../next/*
    manage.py
    config/*
    */migrations/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod
