name: Test Examples

on:
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  test-examples:
    uses: ./.github/workflows/test-matrix.yml
    with:
      test-command: "make test-examples"
    secrets: inherit
